
<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>About</h2>

      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="assets/images/profile-1.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Software Engineer.</h3>
          <p >As an IT undergraduate I welcome challenges all the time and it sharp my
            knowledge from every area which I should be keen on. I experience a eternal
            happy when a problem is solved programmatically. Apart from that I am the elderest
            daughter in my family who loves to cook with my mum every time. Gardening is one of my favourite
            hobby and white lily is my favourite flower. I love to bake cakes, cookies and test various food
            recipes with my sister.
          </p>

          <h4><em>I strongly believe that we can live happily if we satisfy from what we have.</em></h4>
          <!-- <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p> -->
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>21 Dec 1995</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>https://nishadide.github.io/resume/</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+94 77 335 2024</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Kalutara, Sri Lanka</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>25</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>BSc.(Hons.) in Information Technology</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>nishadidezoysa9@gmail.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
              </ul>
            </div>
          </div>
          <!-- <p>
            Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
            Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
          </p> -->
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
  </main>
