<main id="main">
  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Testimonials</h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
      </div>

      <div class="testimonials-slider swiper-container" data-aos="fade-up">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item" data-aos="fade-up">
              <p>

                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Nishadi was a dedicated Aasa IT family member completed her training in 2020.
                She contributed for in several award winning projects we completed during her stay with us. She was a dedicated employee on her assignments.
                 Nishadi adopted to the working environment quickly.
                 Her technical and non-technical skills contributed in achieving the company objectives during here stay with us.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>

              </p>

              <img src="assets/images/testimonials/sumith.jpg" class="testimonial-img" alt="">
              <h3>Sumith Gamage</h3>
              <h4>MD &amp; Aasa IT Solutions</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                I'm a happy client of Nishadi and her Chemistry teacher as well. Nishadi and her team developed me
                the best learning management system of Gurupiysa which is capable of solving my each and every
                requirement. I have wasted my money for useless applications.
                But finally I met the most friendly, talented Nishadi and her team and I was pleasantly surprised by their talent
                as undergraduates.

                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/images/testimonials/pathum.jpg" class="testimonial-img" alt="">
              <h3>Pathum Karannagoda</h3>
              <h4>Chemistry Teacher</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>

                Nishadi is my batchmate. We contributed our selves in several projects together. She is a
                talented girl who can learn quickly. Her commitment and supportivenes always help to achieve our targets
                and it is very much easy to work as team with her. I wish her all the best!

                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/images/testimonials/sasiru.jpg" class="testimonial-img" alt="">
              <h3>Sasiru Ayeshka</h3>
              <h4>Team Member &amp; Batchmate</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Nishadi is a good friend of mine and we are in the same batch. We have done our internship
                in the same company and we have worked in several projects together. It is happy to meet
                team member like Nishadi and her supportivenes and talent always drive our projects to the
                success.

                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/images/testimonials/dulanka.jpg" class="testimonial-img" alt="">
              <h3>Dulanka Karunasena</h3>
              <h4>Team Member &amp; Batchmate</h4>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->
  </main>
