<main id="main">
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <!-- <p>A self-motivated, hard-working, skilled individual with
            strong problem solving and analytical skills in the field
            of Software Engineering. IT is my passion and it brings
            me new aspirations day by day which causes me to
            live in it.</p> -->
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Nishadi de Zoysa</h4>
              <p><em> <p>A self-motivated, hard-working, skilled individual with
                strong problem solving and analytical skills in the field
                of Software Engineering. IT is my passion and it brings
                me new aspirations day by day which causes me to
                live in it.</em></p>
              <ul>
                <li>124, Herman Estate, Dodangoda, Kalutara</li>
                <li>(94) 77-335-2024</li>
                <li>nishadidezoysa9@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Honors Degree of Bachelor of Science in Information Technology</h4>
              <h5>2017 - 2021</h5>
              <p><em>University of Moratuwa</em></p>
              <p>Reading for B.Sc. (Hons) Degree in Information Technology. (Expected 2022)</p>
            </div>
            <div class="resume-item">
              <h4>G.C.E Advanced Level – Physical Science Stream</h4>
              <p><em>Kalutara Balika Vidyalaya, Kalutara</em></p>
              <p>Combined Mathematics – A, Chemistry – A, Physics – B English - A </p>
              </div>
              <div class="resume-item">
              <h4> G.C.E Ordinary Level</h4>
              <p>9As - Elective Subjects : Commerce, Information Technology, Western Music</p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Working Experience</h3>
            <div class="resume-item">
              <h4>Intern Software Engineer</h4>
              <h5>2020 March - 2020 December</h5>
              <p><em>Aasa IT Solutions, Dehiwala</em></p>
              <ul>
                <li>Frontend development.</li>
                <li>Mobile application development.</li>
                <li>VPS management and web hosting </li>
                <li>Client handling.</li>
                <li>Pitching solutions at competitions (NBQSA 2020).</li>
                <li>Pitching solutions for fundings (Spiralation 2020)</li>
                <li>Technologies: Angular, Ionic, MySQL, PHP, Apache Server</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Freelancer / Entrepreneur</h4>
              <ul>
                <li>Managed up to 7 projects at a given time while under pressure</li>
                <li>Recommended and consulted with clients on the most appropriate software application development</li>
                <li>Running small businesses - online jwellary store, online cake shop</li>
                <li>Doing A/L , O/L tution classes in Physics, Mathematics, Science both in English medium and Sinhala medium</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->
</main>
