
<app-about></app-about>
<app-skills></app-skills>
<app-resume></app-resume>

<main id="main">





 <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <!-- <p>I have been working on serveral projects which are listed below. Some of them are academic projects</p> -->
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <h3>Illegal Parking Detection using Computer Vision</h3>
          <hr>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <img src="assets/images/portfolio/i.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-8 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <p>Final Year Research Project
                The aspect of this research is to give a solution to mitigate parking violations by using machine learning and image processing in Sri Lanka. We having four group memaber and everyone plane to build machine learning models under four categories. I'm responsible for building a machine learning model to detect parking violations considering road signs and road lines. Apart from that detect illegal parking by considering traffic lights, by roads, vehicles more towards to road, parked infront of gates are plan to be done. The novalty of this project is detecting
                illegal parking not in specified or marked area but in any place it can be occurs and predict free parking areas.</p>
            </div>
          </div>

          <h3>Gurupiyasa Learning Management System</h3>
          <hr>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <img src="assets/images/portfolio/b.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <p>Final Year Research Project
                The aspect of this research is to give a solution to mitigate parking violations by using machine learning and image processing in Sri Lanka. We having four group memaber and everyone plane to build machine learning models under four categories. I'm responsible for building a machine learning model to detect parking violations considering road signs and road lines. Apart from that detect illegal parking by considering traffic lights, by roads, vehicles more towards to road, parked infront of gates are plan to be done. The novalty of this project is detecting
                illegal parking not in specified or marked area but in any place it can be occurs and predict free parking areas.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <img src="assets/images/portfolio/c.png" class="img-fluid" alt="">
            </div>
          </div>

          <h3>Biovest Healthcare E-Commerce Website</h3>
          <hr>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <img src="assets/images/portfolio/d.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-8 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <p>Final Year Research Project
                The aspect of this research is to give a solution to mitigate parking violations by using machine learning and image processing in Sri Lanka. We having four group memaber and everyone plane to build machine learning models under four categories. I'm responsible for building a machine learning model to detect parking violations considering road signs and road lines. Apart from that detect illegal parking by considering traffic lights, by roads, vehicles more towards to road, parked infront of gates are plan to be done. The novalty of this project is detecting
                illegal parking not in specified or marked area but in any place it can be occurs and predict free parking areas.</p>
            </div>
          </div>

          <h3>Smart POS Mobile and Web Application</h3>
          <hr>

          <div class="col-lg-3 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <img src="assets/images/portfolio/e.png" class="img-fluid-phone" alt="">
            </div>
          </div>

          <div class="col-lg-5 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <p>Final Year Research Project
                The aspect of this research is to give a solution to mitigate parking violations by using machine learning and image processing in Sri Lanka. We having four group memaber and everyone plane to build machine learning models under four categories. I'm responsible for building a machine learning model to detect parking violations considering road signs and road lines. Apart from that detect illegal parking by considering traffic lights, by roads, vehicles more towards to road, parked infront of gates are plan to be done. The novalty of this project is detecting
                illegal parking not in specified or marked area but in any place it can be occurs and predict free parking areas.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <img src="assets/images/portfolio/f.png" class="img-fluid" alt="">
            </div>
          </div>

          <h3>UDEVS Level 2 Industry Based Project</h3>
          <hr>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <img src="assets/images/portfolio/g.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-5 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <p>Final Year Research Project
                The aspect of this research is to give a solution to mitigate parking violations by using machine learning and image processing in Sri Lanka. We having four group memaber and everyone plane to build machine learning models under four categories. I'm responsible for building a machine learning model to detect parking violations considering road signs and road lines. Apart from that detect illegal parking by considering traffic lights, by roads, vehicles more towards to road, parked infront of gates are plan to be done. The novalty of this project is detecting
                illegal parking not in specified or marked area but in any place it can be occurs and predict free parking areas.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <img src="assets/images/portfolio/h.png" class="img-fluid-phone" alt="">
            </div>
          </div>

          <h3>Automated Weighing and Packaging Machine</h3>
          <hr>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <img src="assets/images/portfolio/j.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-8 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <p>Final Year Research Project
                The aspect of this research is to give a solution to mitigate parking violations by using machine learning and image processing in Sri Lanka. We having four group memaber and everyone plane to build machine learning models under four categories. I'm responsible for building a machine learning model to detect parking violations considering road signs and road lines. Apart from that detect illegal parking by considering traffic lights, by roads, vehicles more towards to road, parked infront of gates are plan to be done. The novalty of this project is detecting
                illegal parking not in specified or marked area but in any place it can be occurs and predict free parking areas.</p>
            </div>
          </div>

          <h3>Portfolio Management Web Application</h3>
          <hr>



          <div class="col-lg-8 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <p>Final Year Research Project
                The aspect of this research is to give a solution to mitigate parking violations by using machine learning and image processing in Sri Lanka. We having four group memaber and everyone plane to build machine learning models under four categories. I'm responsible for building a machine learning model to detect parking violations considering road signs and road lines. Apart from that detect illegal parking by considering traffic lights, by roads, vehicles more towards to road, parked infront of gates are plan to be done. The novalty of this project is detecting
                illegal parking not in specified or marked area but in any place it can be occurs and predict free parking areas.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <img src="assets/images/portfolio/a.png" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->



  </main><!-- End #main -->


  <app-testimonial></app-testimonial>
  <app-contact></app-contact>

