
<app-about></app-about>
<app-skills></app-skills>
<app-resume></app-resume>

<main id="main">





 <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <!-- <p>I have been working on serveral projects which are listed below. Some of them are academic projects</p> -->
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <h3>Illegal Parking Detection using Computer Vision</h3>
          <hr>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <img src="assets/images/portfolio/i.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-8 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <h4>Final Year Research Project</h4>
              <p>
                The aspect of this research is to give a solution to mitigate parking violations by using machine learning and image processing in Sri Lanka. We having four group memaber and everyone plane to build machine learning models under four categories. I'm responsible for building a machine learning model to detect parking violations considering road signs and road lines. Apart from that detect illegal parking by considering traffic lights, by roads, vehicles more towards to road, parked infront of gates are plan to be done. The novalty of this project is detecting
                illegal parking not in specified or marked area but in any place it can be occurs and predict free parking areas.</p>
              <p><b>Technologies: </b>OpenCV, Tensorflow</p>
            </div>
          </div>

          <h3>Gurupiyasa Learning Management System</h3>
          <hr>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <img src="assets/images/portfolio/b.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-5 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <h4  style="padding-top: 25px;">Learning Management System</h4>
              <p>This web application was developed for an A/L chemistry class which is having more than 3000 students in 4 classes.
                It can be handle student details, online exams, videos, payments, reading materials in this pandemic situation.
                The application connected with third party video server in order to manage videos.
                Mostly I have given my fullest cooperation in developing front-end of the application.
              </p>

                <p><b>Technologies: </b>Angular, Nodejs, MySQL</p>
                <a href="https://gurupiyasa.edu.lk">https://gurupiyasa.edu.lk</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <img src="assets/images/portfolio/c.png" class="img-fluid" alt="">
            </div>
          </div>

          <h3>Biovest Healthcare E-Commerce Website</h3>
          <hr>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <img src="assets/images/portfolio/d.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-8 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <h4 style="padding-top: 35px;">E-Commerce Website</h4>
              <p>
                The application was developed for Biovest Health Care
                (PVT)Ltd. Apart from home pages, it consists of an admin panel which company
                uses to manage their products and online orders.
                Mostly I have given my fullest cooperation in developing front-end of the application.</p>

                <p><b>Technologies: </b>Angular, PHP, MySQL</p>
                <a href="https://biovesthealthcare.com">https://biovesthealthcare.com</a>
            </div>
          </div>

          <h3>Smart POS Mobile and Web Application</h3>
          <hr>

          <div class="col-lg-3 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <img src="assets/images/portfolio/e.png" class="img-fluid-phone" alt="">
            </div>
          </div>

          <div class="col-lg-5 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >

              <h4 style="padding-top: 50px;">Intern Project</h4>
              <p>
                Mobile app and web application which avoids difficulties of traditional POS system.
                The application consists of managing sales, stocks, cashflows, GRN, suppliers, reports.
                I contributed myself on front end development of both web and mobile application.
                Apart from that I have customized the application to pitch two clients and worked on server
                deployment as well.
                </p>
                <p><b>Technologies: </b>Ionic, Angular, PHP, MySQL</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <img src="assets/images/portfolio/f.png" class="img-fluid" alt="">
            </div>
          </div>

          <h3>UDEVS Level 2 Industry Based Project</h3>
          <hr>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <img src="assets/images/portfolio/g.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-5 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <h4 style="padding-top: 50px;">B.Sc. Level 2 Industry Based Project</h4>
              <p>
                Mentored by: Appsnology.
                Web application and mobile app, developed for clients to select a suitable
                developer by chatting, considering reviews and previous work to solve their IT-related problems.
                I have contributed myself to developed user profiles and home pages of the application.
                </p>
                <p><b>Technologies: </b>Angular, Node.js, Flutter</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <img src="assets/images/portfolio/h.png" class="img-fluid-phone" alt="">
            </div>
          </div>



          <h3>Portfolio Management Web Application</h3>
          <hr>



          <div class="col-lg-8 col-md-6 portfolio-item filter-app">
            <div  style="margin-left: 30px;" class="portfolio-wrap"  >

              <h4 style="padding-top: 50px;">Group Project</h4>
              <p>This is an ongoing project. A web application that allows users to
                create their personal website by including resume, portfolio, and other
                relevant details. From this application users will be given a customized url
                to access their website. Our intention is to give a chance for undergraduates
                who are in junior batches to creat their personal website easily.
                </p>
                <p><b>Technologies: </b>Angular, Springboot, MySQL</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <img src="assets/images/portfolio/a.png" class="img-fluid" alt="">
            </div>
          </div>

          <h3>Automated Weighing and Packaging Machine</h3>
          <hr>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >
              <img src="assets/images/portfolio/j.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-8 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap"  >

              <h4 style="padding-top: 50px;">B.Sc. Level 1 Hardware Project</h4>
              <p>Micro-controller-based automated weighing and packingmachine that can be used in retailer shops to
                pack granulated items of given weight as required by the customer. Load sensor, LCD display and keypad, micro-controller,
                sealer, servo motors are most primitive part used in the machine.
               </p>
                <p><b>Technologies: </b> Atmega32, Atmel Studio, C</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->



  </main><!-- End #main -->


  <app-testimonial></app-testimonial>
  <app-contact></app-contact>

